.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    align-items: center;
}

.appendTop {
    margin-top: 16px;
}

.appendBottom {
    margin-bottom: 16px; 
}